rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // General rule: Allow authenticated users to read all files
    // This is useful for displaying uploaded images and files in the application
    match /{allPaths=**} {
      allow read: if request.auth != null;
    }

    // Rule for uploading files to a client's folder, including payments
    match /clients/{clientId}/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
